.rotated-slider {
    transform: rotate(0); /* Adjust the angle as needed */
    transform-origin: center;
    width: 70vw;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.player-container {
    animation: rotate 1000s linear infinite; /* Adjust the duration as needed */
}
